@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

//Colors

$primary-color: #496A81;
$secondary-color: #FFC482;
$accent-color: #2B3A67;
$text-color: #707070;