@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";

//Colors

$primary-color: #496A81;
$secondary-color: #FFC482;
$tertiary-color: #ff009d;
$accent-color: #2B3A67;
$text-color: #707070;
