@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/variables";

//Colors

$primary-color: #111111; //black
$secondary-color: #30332E; // olive
$tertiary-color: #62BBC1; // light blue
$accent-color: #2F7075; // darker blue
$fourth-color: #17383A; // darker darker blue
$text-color: #FFFBFC;
