@import './variables';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//Body

body {
    background-color: $primary-color;
    color: $secondary-color;
    width: 60%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

//Nav

.navbar {
    
    background-color: $accent-color;
    font-size: 20px;
    
    .nav-link, .navbar-brand {
        color: $secondary-color;

        &:active {
            color: $tertiary-color;
        }
    }

    .btn {
        background-color: $secondary-color;

        &:hover {
            background-color: white;
            color: black;
        }
    }

}

//Main

main {
    .text {
        color: $text-color;
    }

    .btn {
        background-color: $secondary-color;
    }
}

//Media query

@media (max-width: 992px) {

    .profileImg {
        justify-content: center;
    }
}

@media (max-width: 575px) {

    body {
        width: 100%;
        margin: 0 auto;
    }

    main, footer {
       width: 80%;
       margin: 0 auto;
    }
}