@import './variables';

//Body

body {
    background-color: $primary-color;
    color: $text-color;
    width: 60%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

//Nav

.navbar {
    
    background-color: $accent-color;
    font-size: 20px;
    
    .nav-link, .navbar-brand {
        color: $text-color;

        &:active {
            color: $tertiary-color;
        }
    }

    .btn {
        background-color: $secondary-color;

        &:hover {
            background-color: white;
            color: black;
        }
    }

}

img {
    width: 200px;
    height: auto;
    margin: 20px;
    border: solid black 1px; padding: 10px;
}

//Main

main {
    .text, p, h2, .contacts {
        color: $secondary-color;
    }

    .btn {
        background-color: $tertiary-color;
    }
}

.hero {
    background-color: $secondary-color;

    .loginBtn, .registerBtn {
        font-size: 30px;
        background-color: $tertiary-color;
        color: $text-color;
    }
    .registerBtn {
        background-color: $fourth-color;
    }
}
//Form

label {
    display: block;
}

.formError {
    display: none;
    color: red;
    font-size: 15px;
}


// Post

#posts, .post {
    width: 500px;
    background-color: #ffffff;
}

.post {
    margin-top: 30px;
}
// Footer

footer {
    width: 60%;
}


//Media query

@media (max-width: 992px) {

    .profileImg {
        justify-content: center;
    }
}

@media (max-width: 575px) {

    body {
        width: 100%;
        margin: 0 auto;
    }

    main, footer {
       width: 80%;
       margin: 0 auto;
    }
}