@import './variables';

//Mixin 

@mixin imageSize($width) {
    width: $width;
    display: block;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//Body

body {
    background-color: $primary-color;
    color: $secondary-color;
    width: 60%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

//Nav

nav {
    background-color: $accent-color;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        @extend nav;
        justify-content: center;
    }

    li {
        @extend nav;
        list-style: none;
        margin: 5px;

        a {
            color: $secondary-color;
            text-decoration: none;

            &:hover {
                color: $tertiary-color;
                font-size: 31px;
                transition: 1s;
            }
        }
    }
}

//Main

main {
    .card {
        color: $text-color;
        width: 200px;
        img {
            @include imageSize(100px);
        }
    }
    .card2 {
        color: $text-color;
        width: 700px;

        img {
            @include imageSize(80px);
            margin-left: 10px;
        }

    }

    .profileCard {
        img {
            @include imageSize(200px);
        }
        color: $text-color;
    }

    .contacts {
        width: 300px;
        img {
            @include imageSize(60px);
        }
    

    }

    .text-center {
        width: 500px;
    }

    .btn {
        color: $primary-color;
        background-color: $secondary-color;
        &:hover {
            background-color: $tertiary-color;
        }
    }
}